@import "tailwindcss";

@theme inline {
  --color-brand-red: #e41d23;
  --color-brand-green: #a6c76e;
  --color-brand-red-light: #fbe5e6;
  --color-brand-green-light: #f1f7e6;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}
